
* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: Gorimance;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #cacaca;
}


.title {
	color: rgb(32, 35, 35);
}


.form-group {
	display: flex;
	flex-direction: column;
}

input[type=text] {
	padding: 1vh 2vw;
	color: rgb(255, 255, 255);
	font-family: Gorimance;
	font-weight: bold;
	background-color: #1a1c1cc9;
	border: none;
	outline: none;
	margin-bottom: 10px;
	border-radius: 10px;
	font-size: 4vh;
	transform: scale(0);
	animation: pop 1s forwards 900ms;
}

.btn-primary {
	transform: scale(0);
	padding: 1vh 2vw;
	color: white;
	font-family: Gorimance;
	background-color: #0069d9;
	cursor: not-allowed;
	border: none;
	border-radius: 10px;
	font-size: 4vh;
	animation: pop 1s forwards 1000ms;
	transition: .2s;
}

.btn-primary:hover {
	background-color: #5d96d4;
}

.modal .title {
	font-size: 6vh;
	transform: scale(0);
	animation: pop 1s forwards;
}

@keyframes instructions {
	50% {
		font-size: 1.5vw;
	}

	100% {
		font-size: 1.8vw;
	}
}

@keyframes pop {
	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1.0);
	}
}


.game-area {
	width: 1024px;
	height: 1024px;
	background-color: #14202A;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	height: 150px;
	width: 85%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header > * {
	width: 200px;
}

.timer {
	text-align: right;
}

header div {
	color: paleturquoise;
	font-size: 30px;
}


header h1 {
	text-align: center;
	font-size: 50px;
}

canvas {
	background-color: black;
}

footer {
	width: 85%;
	margin-top: 10px;
}

input[type=range] {
	display: none;
	appearance: none;
	width: 100%;
	height: 5px;
	border-radius: 10px;
	outline: none;
	background-color: #5F7898;
}

input[type=range]::-webkit-slider-thumb {
  	appearance: none;
  	width: 25px;
  	height: 25px;
  	background-color: #5F7898;
  	border-radius: 50%;
  	cursor: pointer;
}

.btn-group {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}

.btn-rewind {
	margin: 0 5px;
	padding: 10px 20px;
	color: white;
	font-family: Gorimance;
	background-color: orange;
	cursor: pointer;
	border: none;
	border-radius: 10px;
	font-size: 25px;
	transition: .2s;
}

.btn-rewind:hover {
	background-color: yellow;
}

.btn-cancel {
	display: none;
	margin: 0 5px;
	padding: 10px 20px;
	color: white;
	font-family: Gorimance;
	background-color: #0069d9;
	cursor: pointer;
	border: none;
	border-radius: 10px;
	font-size: 25px;
	transition: .2s;
}

.btn-cancel:hover {
	background-color: #5d96d4;
}

#modal-over {
	display: none;
}

table {
	transform: scale(0);
	width: 60%;
	margin-bottom: 50px;
	font-size: 3vh;
	animation: pop forwards 1s;
}

thead {
	background-color: #0069d9;
}

td {
	text-align: center;
}

.btn-primary.again {
	cursor: pointer;
}
